bin/*
!bin/notice.txt
.DS_Store
/activate.sh
/asr64_patcher/
/backup.sh
/boot/
/iBootpatch2/
/ibootpatch.c
/Kernel64Patcher/
/libimg4_patcher/
/lib/
/main.c
/repo/
/restored_external64patcher/
/futurerestore/*
!/futurerestore/notice.txt
/known_hosts
/knownhosts/
/noseprestore/
/restorefiles/
/shsh/
/tmp/
/tmp1/
/tmp2/
/work/
/*.dmg
/*.dmg.aea
/*.ipsw
/payloads/dropbear_sshd/.cache/
/payloads/dropbear_sshd/__pycache__/
/payloads/dropbear_sshd/rootfs/
/payloads/dropbear_sshd/payload-manifest.txt
__pycache__/
*.py[cod]
/custom_binpatcher/patches.json
/custom_binpatcher/patches/*.json
!/custom_binpatcher/patches/template_patch.json
!/custom_binpatcher/patches/template_multi_target_patch.json
!/custom_binpatcher/patches/template_patchfind.json

