<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.surrealra1n.install-dropbear</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/surrealra1n_install_dropbear</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>POSIXSpawnType</key>
    <string>Interactive</string>
    <key>EnablePressuredExit</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/dev/console</string>
    <key>StandardErrorPath</key>
    <string>/dev/console</string>
</dict>
</plist>
